*, *::before, *::after {
    box-sizing: border-box;
}

.flex-grid-nav {
  /* display: block; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media (min-width:55em) { /* THE SCREEN IS 55EM WIDE OR GREATER */
  .nav-item.logo{
    width: 55%;
  }

  .nav-item.col {
    width: 15%;
  }
}

@media (max-width:55em) { /* THE SCREEN IS 55EM WIDE OR SMALLER */
  /* .parallax-img-text {
    font-size: 4rem;
  } */
}

@media (max-width:30em) {
  /* .parallax-img-text {
    font-size: 3rem;
  } */
}
