body {
  margin: 0;
  padding: 0;
}

header {
  /* box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,.1); */
    display: block;
    position: sticky;
    /* position: fixed; */
    width: 100%;
    height: 8vh;
    /* max-height: 10vh; */
    z-index: 100;
}

/* .flex-grid.container {
  padding-top: 8vh;
} */

/* NAV BAR STYLING START */
.nav-items-list {
    margin: 0;
    /* margin-right: 5%; */
    background-color: #fff;
    padding: 0;
    list-style: none;
    align-items: center;
    font-weight: normal;
}

.nav-item.logo {
  padding: 0.5rem 1rem;
}

.nav-item.logo a:hover, .nav-item.logo a:active {
  color: purple;
  transition: all 0.3s ease-in-out 0s;
}

.nav-item.col a {
  padding: 1.5rem 0rem;
  /* padding-top: 1rem; */
  /* margin-bottom: 0.5rem; */
}

.nav-item.logo a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    letter-spacing: 0.3rem;
    color: rgb(154, 171, 185);
    font-size: 2.75rem;
    font-family: 'Patua One', cursive;

    /* border: 0.5rem solid rgb(154, 171, 185); */
    /* padding: 0.5rem 1rem; */
    /* background-color: #fff; */

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.nav-item.col a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  /* font-family: 'Patua One', cursive; */
  font-family: 'Comfortaa', cursive;
}

.nav-item.col a:hover, .nav-item.col a:active {
  color: white;
  /* background-color: #D3D3D3; */
  /* letter-spacing: 2px; */

  /* background-color: rgb(154, 171, 185); */
  background-color: rgb(154, 100, 180);
  /* background-color: lavender; */
  transition: all 0.3s ease-in-out 0s;
}

.nav-item.col a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-item.col a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-items-list li {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    /* background-color: #fff; */
    height: auto;
    position: relative;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.nav-item.col {
  text-align: center;
}
/* NAV BAR STYLING END */



/* PARALLAX IMAGE STYLING START */
.flex-grid.parallax-img {
   background-image: url(../img/geo-cubes.jpg);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   padding: 6rem;

   letter-spacing: 0.9px;
}

.parallax-img-text-container {
   width: inherit;
   justify-content: center;
   align-items: center;
}

.parallax-img-text, .parallax-img-text:before {
   display: inline-block;
   text-align: left;
   /* font-size: 5.5rem; */
   color: purple;
   margin: 0;
   font-family: 'Patua One', cursive;
   /* font-family: 'Comfortaa', cursive; */
   /* font-family: 'Lobster', cursive; */
   transition: all ease 0.3s;
}

 @-webkit-keyframes swing {
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing {
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* LINK: https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */

 .parallax-img-text:hover, .parallax-img-text:active {
   letter-spacing: 2px;
   color: pink;
   /* font-size: 7rem; */

   /* font-weight: 750; */
   /* font-family: 'Patua One', cursive; */
   transition: all ease 0.3s;

   /* code borrowed */
   -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
 }

/* @media (min-width:55em) { */

@media (min-width:60em) {
  .flex-grid.parallax-img {
     /* background-image: url(../img/geo-cubes.jpg); */
     /* Is there a way to create alts through this? */

     /* background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed; */

     /* width: 100%; */
     height: 92vh; /*vh is visual height, I believe. useful units*/

     /* display: flex;
     justify-content: center;
     align-items: center; */

      /* color: #272727; */
      /* letter-spacing: 0.9px; */
      /* text-align: center; */
      padding: 6rem;

  }
}

  .parallax-img-text {
    /* display: inline-block; */
    font-size: 6.5rem;
    /* font-size: 8vw; */
  }

/* } */

@media (max-width:60em) { /* THE SCREEN IS 55EM WIDE OR SMALLER */
  .flex-grid.parallax-img {
    padding: 4rem;
  }

  .parallax-img-text {
    /* display: inline-block; */
    font-size: 4rem;
  }
}

@media (max-width:41em) {
  .flex-grid.parallax-img {
    padding: 3rem;
  }

  .parallax-img-text {
    /* display: inline-block; */
    font-size: 3rem;
  }
}

@media (max-width:31em) {
  .flex-grid.parallax-img {
    padding: 2.5rem;
  }

  .parallax-img-text {
    /* display: inline-block; */
    font-size: 2rem;
  }
}

/* PARALLAX IMAGE STYLING END */

/* INTRO STATEMENT STYLING START */
/* .flex-grid.intro-statement {
   background-image: url(../img/geo-cubes.jpg);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   padding: 6rem;

   letter-spacing: 0.9px;
}

.intro-statement-text-container {
   width: inherit;
   justify-content: center;
   align-items: center;
} */
/* INTRO STATEMENT STYLING END */

/* PROJECT GRID STYLING START */
.main-item-title h1 {
  color: darkblue;
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;

  padding: 2rem 0;
  margin: 0;
}

.flex-grid.project-grid-display {
   max-width: 100%;
   /* display: flex; */
   /* flex-direction: row; */
   /* justify-content: center;
   align-items: center; */

   /* margin: 2rem 5rem; */


}

.flex-grid.project-grid-display, .project-grid-block {
  float: left;
}

.project-grid-block, .project-grid-block:before {
   /* width: 50%; */
   /* display: flex; */
   /* flex: 2 2 25rem; */
   /* display: inline-block; */
   /* justify-content: center;
   align-items: center; */
   position: relative;
   /* float: left; */
   /* display: inline; */
   /* object-fit: cover; */
   padding: 0.5rem;
   /* margin: 1rem; */
   /* padding: 0; */
}

.project-grid-block:hover, .project-grid-block:active {
  padding: 0;
  transition: all ease 0.3s;
}

.project-grid-block a img {
  width: 100%;
}

.project-grid-block a:hover, .project-grid-block a:active {
  /* border: 2px blue; */
}

.hover-overlay,  .hover-overlay:before{
  width: 100%;
  margin: 0.5rem;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* max-height: 100%;
  max-width: 100%; */
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(22, 2, 2, 0.3);
}

/* .project-grid-block:hover, .project-grid-block:active {
  padding: 0;
  transition: all ease 0.3s;
} */

.project-grid-block a:hover .hover-overlay, .container:focus .hover-overlay {
  opacity: 1;
  margin: 0em;
  transition: all ease 0.3s;
}

.overlay-text {
  /* color: white;
  font-size: 20px; */
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-60%, -120%);
  -ms-transform: translate(-60%, -120%); */

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* align-items: center; */
  text-align: center;
  padding: 0em;
  margin: 0em;
}

.overlay-text p.project-grid-title {
  color: white;
  margin: 0em;
  /* font-size: 5rem; */
  /* font-size: 6vw; */
  /* font-family: 'Patua One', cursive; */
  font-family: 'Comfortaa', cursive;
}

.overlay-text p.project-brief-desc {
  color: white;
  margin: 0em;
  padding: 0em;
  /* font-size: 1.5rem; */
  /* font-size: 2vw; */
  /* font-family: 'Patua One', cursive; */
  font-family: 'Comfortaa', cursive;
}

.contact-me {
  padding-left: 10rem;
}

.contact-me h1 {
  color: darkblue;
  /* font-family: 'Patua One', cursive; */
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
  padding: 0;
  padding-right: 1rem;
  margin: 0;
  /* float: left; */
  display: inline-block;
  transition: all 0.3s ease-in-out 0s;
}

@media (min-width:60em) {
  .flex-grid.project-grid-display {
     padding: 2rem 5rem;
     /* padding-bottom: 5rem; */
  }

  .project-grid-block {
     width: 33%;
  }

  .overlay-text p.project-grid-title {
    /* font-size: 4rem; */
    font-size: 4vw;
  }

  .overlay-text p.project-brief-desc {
    /* font-size: 2rem; */
    font-size: 1.5vw;
  }
}

@media (max-width:60em) { /* THE SCREEN IS 55EM WIDE OR SMALLER */
  .flex-grid.project-grid-display {
     padding: 2rem 2rem;
  }

  .project-grid-block {
     width: 50%;
  }

  .overlay-text p.project-grid-title {
    /* font-size: 4rem; */
    font-size: 7vw;
  }

  .overlay-text p.project-brief-desc {
    /* font-size: 2rem; */
    font-size: 3vw;
  }
}

@media (max-width:30em) {
  .project-grid-block {
     width: 100%;
  }

  .overlay-text p.project-grid-title {
    /* font-size: 4rem; */
    font-size: 12vw;
  }

  .overlay-text p.project-brief-desc {
    /* font-size: 2rem; */
    font-size: 5vw;
  }
}

/* PROJECT GRID STYLING END */

/* PROJECT PAGE DISPLAY START */
.purple {
  background-color: indigo;
}

.green {
  background-color: rgb(0, 170, 130);
}

.project-page-display {
  width: 100%;
  /* padding: 0 8rem; */
}

.project-display {
  padding: 0 8rem;
}

.whitespace {
  height: 6rem;
  display: block;
}

.title-statement h1 {
  color: white;
  /* font-family: 'Patua One', cursive; */
  font-family: 'Comfortaa', cursive;
  font-size: 4rem;
  padding: 0;
  padding-right: 1rem;
  margin: 0;
  /* float: left; */
  display: inline-block;
  transition: all 0.3s ease-in-out 0s;
}

/* h1:before.interactive-project-title {
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out 0s;
} */

h1:hover.interactive-project-title, h1:active.interactive-project-title {
  letter-spacing: 5px;
  color: lightpink;
  /* font-weight: bolder; */
  transition: all 0.3s ease-in-out 0s;
  /* transition: all ease 0.3s; */
}

.phase-title h2 {
  color: darkblue;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  padding: 0;
  padding-top: 2rem;
  margin: 0;
}

.phase-heading h3 {
  color: darkblue;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;

  padding: 1rem 0;
  /* padding-bottom: 2rem; */
  padding-left: 10rem;
  margin: 0;
}

.phase-content p {
  color: gray;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  padding: 1rem 5rem 2rem 10rem;
  /* padding-left: 10rem;
  padding-right: 5rem;
  padding-bottom: 2rem; */
  margin: 0;
}

.photo-set-block {
  width: 49%;
  display: inline-block;
  margin: 0;
  padding: 0;
  /* object-fit:  */
}

.photo-set-image {

  /* width: 40%; */
  /* object-fit: cover; */
}
.photo-set-image img {
  /* width: 40vw; */
  width: 100%;
  /* display: inline-block; */
  /* object-fit: cover; */
}

@media (max-width:60em) { /* THE SCREEN IS 55EM WIDE OR SMALLER */
  /* .parallax-img-text {
    font-size: 4rem;
  } */

  .project-display {
    padding: 0 4rem;
  }

  .phase-heading h3, .phase-content p {
    padding-left: 8rem;
  }
}

@media (max-width:41em) {
  /* .parallax-img-text {
    font-size: 3rem;
  } */

  .project-display {
    padding: 0 0 0 4rem;
  }

  .phase-heading h3, .phase-content p {
    padding-left: 5rem;
  }
}

@media (max-width:31em) {
  /* .parallax-img-text {
    font-size: 2rem;
  } */

  .project-display {
    padding: 0 2rem;
  }

  .phase-heading h3, .phase-content p {
    padding-left: 0rem;
    padding-right: 4rem;
  }

  .phase-heading h3 {
    padding-bottom: 0;
  }

  .photo-set-block {
    width: 100%;
    display: inline-block;
    /* object-fit:  */
  }
}


/* PROJECT PAGE DISPLAY END */

/* STYLEGUIDE FORMATTING TWEAKS START */
.styleguide-display {
  width: 100%;
  /* padding: 0 8rem; */
}

.lavender {
  background-color: lavender;
}

.styleguide-display.whitespace {
  height: 3rem;
}

.item-title h1 {
  color: darkblue;
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;

  padding: 0 0;
  padding-bottom: 2rem;
  padding-left: 6rem;
  margin: 0;
}

.styleguide-display.title-statement {
  padding-left: 6rem;
}

.title-statement-alt h1{
  color: indigo;
  padding-top: 2rem;
}

h1.font-1{
  font-family: 'Patua One', cursive;
  color: indigo;
  padding-bottom: 1rem;
}

h1.font-2{
  font-family: 'Comfortaa', cursive;
  color: indigo;
  padding-bottom: 1rem;
}


.styleguide-display.phase-title h2, .styleguide-display.phase-heading h3, .styleguide-display.phase-content p{
  padding: 1rem 0;
  padding-left: 6rem;
}
/* STYLEGUIDE FORMATTING TWEAKS END */
